@import '../../styles/common.scss';
.header_admin {
    background-color: #0071ba;
}
.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;
    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            background-color: darken($colormain, 5);
        }
        i {
            font-size: $base-size + 1px;
        }
    }
}

.language_vi {
    margin-left: 1rem;
    margin-right: 1rem;
    opacity: 0.5;
    &.active {
        color: #f7d800;
        opacity: 1;
    }
}

.language_en {
    margin-right: 1.5rem;
    opacity: 0.5;
    &.active {
        color: #f7d800;
        opacity: 1;
    }
}
